body {
    background-color: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.navbar-brand {
    color: yellow;
    margin-left: 10px;
    font-weight: bold;
}
.nav-link {
    color: yellow;
}
.heading {
    color: yellow;
    margin: 50px;
}
.movie-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card {

    padding: 10px;
    background-color: black;
}
.card-body {
    color: white;
    background-color: gray;
}
.yellow-star {
    color: yellow;
}
.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}
.trailer {
    background-color: yellow;
    font-size: 26px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}